body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

:root {
  --font-nunito-sans: "Nunito Sans";
  --font-outfit: Outfit;
}

.container {
  min-width: 600px;
  max-width: 601px;
  margin: 50px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgb(14, 15, 14);
  font-family: var(--font-nunito-sans);
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  user-select: none;
  color: #333;
  font-family: var(--font-nunito-sans);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgba(50, 196, 101, 0.1);
  font-family: var(--font-nunito-sans);
}

input:focus {
  outline: none;
}

.form .gender-box {
  margin-top: 10px;
}

.form .gender-option,
.form .gender {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.form .gender {
  flex-direction: column;
  gap: 5px;
}

.gender input {
  accent-color: #170895;
  margin-right: 5px;
  cursor: pointer;
}

.form .gender input,
.form .gender label {
  cursor: pointer;
}

.gender label {
  color: #000;
}

button {
  background-color: #4caf50;
  color: white;
  height: 55px;
  width: 150px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: large;
  font-family: var(--font-nunito-sans);
}

button:hover {
  background-color: rgba(76, 175, 80, 0.8);
  transition: 0.5s;
}

.submit {
  display: flex;
  justify-content: space-evenly;

}