* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --font-nunito-sans: "Nunito Sans";
    --font-outfit: Outfit;
}

body {
    background-color: #f4f4f4;
}

.container {
    min-width: 600px;
    max-width: 601px;
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-family: var(--font-nunito-sans);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    user-select: none;
    font-family: var(--font-nunito-sans);
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background: rgba(76, 175, 80, 0.1);
    font-family: var(--font-nunito-sans);
}

input:focus {
    outline: none;
    /* Remove the default focus outline */
}

button {
    background-color: #4caf50;
    color: white;
    height: 55px;
    width: 150px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: large;
    font-family: var(--font-nunito-sans);
}

button:hover {
    background-color: rgba(76, 175, 80, 0.8);
    transition: 1s;
}

.submit {
    display: flex;
    justify-content: space-around;
}